.Rproj.user
.Rhistory
.RData
.Ruserdata
*.o
*.so
*.dll
docs/
inst/doc/
*.tar.gz
pkgdown/
vignettes/*.html
src/Makevars
src/*.o
src/*.so
src/*.dll
src/Makevars
dataprep.Rcheck/
*.tar.gz
docs
*.bak
src/Makevars.win
